body, html{
  height: 100%;
  margin: 0;
  background: #91EAE4;
  padding-top: 30px
}

.h1{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 30px;

}

.navbar-custom{
  background-color: #FFFFFF;
  top: 500px;
}

.outer-container-join{
  background-color: #FFFFFF;
  border-radius: 15px; 
  text-align: center;
  width: 50%;
  height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.form-group{
  margin: 0 auto;
  float: none;
  width: 50%;
}

.title{
  text-align: center;
  top: 300px;
}

.chatbox-container{
  position: fixed;
  bottom: 0;
  right: 0;
}

.nav-item{
  padding: 10px;
}




